@charset "utf-8";
/* Tanmoy Das(25-06-2014) */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,700,600,300);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
body {
	margin:0;
	padding:0px 0 0px 0;
	font:normal 13px Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#000;
	background:#ffffff;
}
/*======================general==========================*/	
  div, tr, td, img, form, input, select, p, h1, h2, h3, h4, h5, h6, ul, li, label, textarea, chexbox, radiobutton, ol, option {
	padding:0;
	margin:0;
}
ul {
	padding:0;
	margin:0;
	list-style:none;
}
ol {
	padding:0;
	margin:0;
	list-style-type:none;
}
a {
	padding:0;
	margin:0;
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
img {
	padding:0;
	margin:0;
	outline:none;
	border:0;
}
chexbox {
	padding:0;
	margin:0;
	width:20px;
	height:20px;
}
.spacer {
	padding:0;
	margin:0;
	font-size:0;
	line-height:0;
	clear:both;
}
/*=======header part start======*/
header{
		width:100%;
}
/*=======top part start======*/
header .top_part{
		height:95px;
		border-top:5px solid #e7e7e7;

}
header .top_part article{
		margin:0 auto;
		width:1000px;
}
header .top_part article figure{
		float:left;
		margin:0;
		padding:0px 0 0 0;
}
header .top_part article figure img{
		display:block;
}
header .top_part article .top_right_part{
		float:right;
		margin:0;
}
header .top_part article .top_right_part .follow{
		text-align:right;
		padding:10px 0 0 0;
		float:right;
}
header .top_part article .top_right_part .follow h4{
		text-align:right;
		padding:0 0 0 10px;
		float:right;
}
header .top_part article .top_right_part .follow h3{
	font-family:"franklin_gothic_medium_condRg";
	text-transform:uppercase;
	font-size:18px;
	color:#054586;
	float:left;
	line-height:40px;
	padding:0 5px;
}
header .top_part article .top_right_part .follow ul {
	float:left;
	margin:10px 0 0 0;
}



header .top_part article .top_right_part .top_text{
	border-bottom:1px solid #b9b9b9;
	margin:15px 0 0 0;
	width:876px;
	text-align:right;
}

header .top_part article .top_text h1{
	font-family:"franklin_gothic_medium_condRg";
	text-transform:uppercase;
	font-size:39px;
	color:#054586;
	border-right:1px solid #b9b9b9;
	float:right;
	line-height:35px;
	padding:0px 10px 5px 10px;
}
header .top_part article .top_text h1 span{
	font-family:"franklin_gothic_medium_condRg";
	text-transform:uppercase;
	font-size:39px;
	color:#0971ce;
}
header .top_part article .top_text h2{
	font-family:"franklin_gothic_medium_condRg";
	text-transform:uppercase;
	font-size:24px;
	color:#0971ce;
	float:right;
	text-align:right;
	line-height:30px;
	padding:0px 0px 0 38px;
	background: url(../images/phone.png) 10px center no-repeat;
}
header .top_part article .top_text h2 span{
	color:#181818;
}
header .top_part article .top_right_part nav{
		float:right;
		padding:0;
		margin:0px 0 0 0px;
}
header .top_part article .top_right_part nav ul{
		padding:0;
		margin:0;
}
header .top_part article .top_right_part nav ul li{
		float:left;
		padding:0 0px;
		text-transform:uppercase;
		position:relative;
}
header .top_part article .top_right_part nav ul li a{
		line-height:95px;
		color:#707070;
		font-size:14px;
		padding:0 18px;
		font-family: 'Oswald', sans-serif;
		float:left;
		display: inline-block;
}
header .top_part article .top_right_part nav ul li a:hover, header .top_part article .top_right_part nav ul li.current-menu-item a{
		color:#fff;
		background:#c7353a;
		position:relative;
}

header .top_part article .top_right_part nav ul li a:hover ul.sub-menu{ 
display: block !important;
float: none !important;
list-style: none outside none;
margin: 0;
overflow: visible;
padding: 0;
position: absolute;
top: 0;
width: auto;
z-index: 10;
}
header .top_part article .top_right_part nav ul li a:hover ul.sub-menu{ 
float:none !important;
display:block !important;
}

header .top_part article .top_right_part nav ul li:hover a {color:#fff; background-color:#c7353a;}
header .top_part article .top_right_part nav ul ul {background:#c7353a; padding:0px 0 0 0; position:absolute; top:95px; left:0; display:none; width:160px; margin:0;}
header .top_part article .top_right_part nav ul ul li {float:none; margin:0; padding:0; font-size:14px; font-weight:normal; line-height:20px; color:#FFFFFF; text-align:left; display:block;}
header .top_part article .top_right_part nav ul li:hover > ul {display: block; z-index:100;}
header .top_part article .top_right_part nav ul ul li a {color:#fff !important; text-decoration:none; padding:8px 15px !important; background:none; white-space:nowrap; display:block; background-color:#c7353a !important; font-size:16px; line-height:24px; float:none;}
header .top_part article .top_right_part nav ul ul li a:hover, header .top_part article .top_right_part nav ul ul li a.select {color:#FFFFFF !important; background-color:#000 !important;}
header .top_part article .top_right_part nav ul li ul li ul{position: absolute; top:0; left:100%; display: none;}





.iphone_banner{
	display:none;
	}


nav a#pull {
	display: none;
}
.bxslider li img{
	display:none !important;
	}

.bxslider li{
	height:608px;
	margin:0px 0 0 0;
	}



header .header_banner_part{
		height:608px;
		width:100%;
		position:relative;
}
.banner{
	margin:0 auto;
	vertical-align:top;
	position:relative;
}

header .header_banner_part .text{
	position:absolute;
	bottom:0;
	left:0px;
	z-index:99;
	width:45%;
	height:176px;
	background-color:#fff;
}
.bx-wrapper {
	position:relative;
	z-index:1;}
.banner_text{
	width:1000px;	
	position:absolute;
	z-index:99999;
	bottom:0;
	left:50%;
	margin:0 0 0 -500px;
}
.bxslider .banner_text {
	position:relative;
	z-index:9;
	bottom:auto;
	left:auto;
	margin:0 auto;}
.banner_text .text2{	
	width:500px;
	height:176px;
	background:url(../images/line_bg.png) top right repeat-y;	
}


.banner_text .text2 a{
	background-color:#27bac2;
	font-size:12px;
	text-transform:uppercase;
	color:#fff;
	margin:0px 0 0 0;
	padding:5px 10px;
	border-radius:3px;
	border-bottom:4px solid #20a2a9;
	float:left;
}
.click{
	background-color:#27bac2;
	font-size:12px;
	text-transform:uppercase;
	color:#fff;
	margin:21px auto;
	padding:5px 10px;
	border-radius:3px;
	width:90px;
	border-bottom:4px solid #20a2a9;
}
.banner_text .text2 h2{
	color:#c7353a;
	font-size:20px;
	font-family: 'Oswald', sans-serif;
	text-align:left;
	text-transform:uppercase;
	padding:35px 0 12px 0;
}
.banner_text .text2 p{
	color:#898989;
	font-size:13px;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
	text-align:left;
	width:430px;
}
.banner_text .text3a, .bxslider .text3a {
	position:absolute;
	top:270px;
	right:0;
	z-index:99999;
}
.banner_text .text3a h1, .bxslider .text3a h1{
	font-family: 'Oswald', sans-serif;
	font-size:38px;
	color:#fff;
	text-transform:uppercase;
	background:rgba(0,0,0,0.6);
	padding:22px 20px;
}


/*=======top part end======*/
/*=======header part end======*/
/*=======body container part======*/
#body_cotainer_part{
		width:100%;
		border-top:1px solid #ededed;
		padding:43px 0 0 0;
		margin:33px 0 0 0;
}
#body_cotainer_part .top_information_part2{
	width:1000px;
	margin:0 auto;
}
#body_cotainer_part .top_information_part2 h1{
	font-family: 'Oswald', sans-serif;
	font-size:44px;
	color:#c7353a;
	text-transform:uppercase;
	line-height:80px;
}
#body_cotainer_part .top_information_part2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#898989;
	font-family: 'Open Sans', sans-serif;
	line-height:18px;
	padding:0 0 15px 0;
}










#body_cotainer_part_inner{
		width:100%;
		border-top:1px solid #ededed;
		padding:0px 0 0 0;
		margin:0px 0 0 0;
}
#body_cotainer_part_inner .top_information_part2{
	width:1000px;
	margin:0 auto;
}
#body_cotainer_part_inner .top_information_part2 h1{
	font-family: 'Oswald', sans-serif;
	font-size:44px;
	color:#c7353a;
	text-transform:uppercase;
	line-height:80px;
	padding:25px 0 25px 0;
}
#body_cotainer_part_inner .top_information_part2 p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#898989;
	font-family: 'Open Sans', sans-serif;
	line-height:18px;
	padding:0 0 15px 0;
}














#body_cotainer_part .top_information_part2 article{
	padding:38px 60px 0 25px;
	width:265px;
	text-align:center;
	float:left;
}
/*#body_cotainer_part .top_information_part2 article:nth-child(4){
	padding:39px 110px 0 15px;
	width:265px;
	float:left;
}*/
.b3{
	padding:39px 0px 0 15px !important;
	width:265px;
	float:left;
	}
#body_cotainer_part .top_information_part2 article img{
	padding:0 27px 0 0;
	text-align:center;
}
#body_cotainer_part .top_information_part2 article .left_box{
	width:265px;
}
#body_cotainer_part .top_information_part2 article .left_box h4{
	font-size:20px;
	color:#363636;
	font-family: 'Oswald', sans-serif;
	text-align:center;
	padding:20px 0;
	text-transform:uppercase;
}
#body_cotainer_part .top_information_part2 article .left_box p{
	font-size:12px;
	color:#898989;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}
#body_cotainer_part .top_information_part2 article .left_box p span{
	font-size:13px;
	color:#c7353a;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
	text-transform:uppercase;
}
#body_cotainer_part .top_information_part2 article .left_box a{
	color:#fff;
	font-size:14px;
	display:inline-block;

}


/*=======body container part end======*/
/*=======footer container part======*/
footer{
	width:100%;
	margin:55px auto 0 auto;
	background:#ececec;
	border-top:18px solid #f5f5f5;
	}
.footer_body{
	width: 1000px;
	margin:0 auto;
	color:#898989;
	padding:0 0 60px 0;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:11px;
	}
.bottom_footer{
	float:left;
	}
.bottom_footer img{
	padding:10px 0 0 0;
	}
.bottom_footer ul{
	padding:45px 0 10px 0;
	}
.bottom_footer ul li{
	float:left;
	padding:0 7px 0 0;
	}
.bottom_footer ul li a{
	color:#898989;
	font-size:11px;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	}
.bottom_footer ul li a:hover, .bottom_footer ul li.current-menu-item a{
	color:#393939;
	}

.bottom_footer a{
	color:#969696;
	text-transform:uppercase;
	}
.bottom_footer a:hover{
	color:#393939;
	}
.right_box{
	float:right;
	padding:42px 0px 0 0;
	}
.right_box p{
	text-align:center;
	padding:0 0 10px 0;
	}
.face{
	background: url(../images/social.png) 0px 0px no-repeat;
	display:block;
	width:28px;
	height:28px;
	margin:0 12px 0 0;
	float:left;
}

.twtter{
	background: url(../images/social.png) 0px -29px no-repeat;
	display:block;
	width:28px;
	height:28px;
	margin:0 12px 0 0;
	float:left;
}
.in{
	background: url(../images/social.png) 0px -58px no-repeat;
	display:block;
	width:28px;
	height:28px;
	float:left;
	margin:0 12px 0 0;
}
.gmail{
	background: url(../images/social.png) 0px -87px no-repeat;
	display:block;
	width:28px;
	height:28px;
	float:left;
}


/*=======footer container part end======*/
/*=======footer bottom end======*/
.form_contact{
		 float: left;
    margin: 86px 0 0;
    width: 60%;
}
.form_contact label{
		float:left;
		width:120px;
		font:bold 13px Arial, Helvetica, sans-serif;
		line-height:30px;
		color:#939393;
}
.form_contact input[type=text]{
		width:90%;
		height:40px;
		background-color:#f5f5f5;
		padding:0 0 0 10px;
		margin:8px 0 8px 0;
		border-radius:5px;
		font:normal 12px Arial, Helvetica, sans-serif;
		line-height:30px;
		color:#000;
		outline:none;
		border:none;
}
.form_contact select{
		width:92%;
		height:40px;
		background-color:#f5f5f5;
		padding:10px;
		margin:8px 0 8px 0;
		border-radius:5px;
		font:normal 12px Arial, Helvetica, sans-serif;
		line-height:30px;
		color:#000;
		outline:none;
		border:none;
}
.form_contact textarea{
		width:90%;
		height:130px;
		background-color:#f5f5f5;
		padding:5px 0 0 10px;
		margin:8px 0 8px 0;
		border-radius:5px;
		font:normal 12px Arial, Helvetica, sans-serif;
		line-height:16px;
		color:#000;
		outline:none;
		border:none;
}		
.form_contact input[type=submit]{
		background-color:#c7353a;
		padding:6px 15px;
		font:bold 14px Arial, Helvetica, sans-serif;
		line-height:14px;
		color:#fff;
		border:none;
		outline:none;
		border-radius:5px;
		margin:12px 0 15px 0;
		cursor:pointer;
		display:inline-block;
}
.form_contact input[type=reset]{
		background-color:#c7353a;
		padding:6px 15px;
		font:bold 14px Arial, Helvetica, sans-serif;
		line-height:14px;
		color:#fff;
		border:none;
		outline:none;
		border-radius:5px;
		margin:12px 0 15px -15px;
		cursor:pointer;
		display:inline-block;
}
.form_contact label span.red{
		color:#FF0000;
}
.map_part{
		width:35%;
		float:left;
		border:3px solid #d4d4d4;
		padding:10px;
		margin:50px 0 0 0px;
}
.map_part h6{
		font:normal 20px "swis721_cn_btbold";
		line-height:20px;
		color:#7E1A16;
		padding:15px 0 0px 0px;
}		


.form_contact br{
display:none;
}
.wpcf7-validation-errors {
    border: 2px solid #f7e700;
    display: none;
    margin: 0 0 15px 0;
    position: absolute !important;
    text-align: left !important;
    width: 40% !important;
	text-align:left  !important;
}
.wpcf7-mail-sent-ok {
    border: 2px solid #f7e700;
    display: none;
    margin: 0 0 15px;
    position: absolute !important;
    text-align: left !important;
    width: 40% !important;
}





